.header {
    display: flex;
    flex-direction: column;
    height: 5vh;
    justify-content: center;
    margin: 2vh auto 0 auto;
    width: 90%;
}

.header__tittle {
    animation: animate 3.5s linear infinite;
    background: linear-gradient(135deg, #e2e7f3 0%, #c4c8d2 10%, #989ba3 20%, #707277 30%);
    background-size: 200%;
    font-weight: 700;
    font-size: 4rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animate {
    to {
        background-position: 200%;
    }
}