@media screen and (max-width: 1024px) {

    .sidebar-wrapper,
    .bar-block,
    .black,
    .card {
        display: none;
    }

    .wrapper {
        margin: 0;
        width: 100%;
    }

    #me,
    #skills,
    #projects,
    #contact {
        display: block;
        margin-bottom: 8rem;
    }

    #me {
        margin-top: 8rem;
    }

    .page-content-wrapper {
        flex-direction: column;
        width: 95%;
    }

    .skills-wrapper {
        width: 100%;
    }

    .projects-wrapper,
    .projects__item,
    .skills-wrapper,
    .social__icon,
    .profile-wrapper {
        width: 100%;
    }

    .projects__list {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .projects__item:nth-child(2) {
        margin: 4rem 0 4rem 0;
    }

    .social__icon {
        width: 70px;
    }
}
