#me {
    display: block;
}

.profile-wrapper {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.profile-tittle {
    font-size: 1.25rem;
    color: var(--gray);
}

.profile-tittle__name {
    color: var(--black);
    font-weight: 700;
    font-size: 2rem;
}

.emoji {
    font-size: 1.7rem;
}

.wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }

hr {
    border: none;
}
