#projects {
    display:none;
}

.projects__list {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
}

.projects__item {
    width: 31.31%;
}

.projects__image {
    width: 100%;
}

.projects__tittle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: .75rem;
}

.projects__description {
    color: var(--gray);
}