.animate-bottom {
    animation: animatebottom 0.4s;
    position: relative;
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.sidebar-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto 1.5rem 0;
    width: 20%;
}

.bar-button {
    background: none;
    border: none;
    color: var(--light-gray);
    font-family: 'Rajdhani';
    font-size: 3rem;
    font-weight: 700;
}

.magenta {
    animation: toMagenta .4s ease-in-out forwards;
}

@keyframes toMagenta {
    to {
        color: rgb(201, 45, 136);
    }
}