#skills {
  display: none;
}

.skills-wrapper {
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.skills__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skills__item {
  display: flex;
  margin-bottom: 1.5rem;
}

.skills__icons {
  margin-right: .15rem;
  width: 2rem;
}

.skills__bar {
  background-color: rgb(185, 181, 181); 
  height: 32px; 
  width: 100%; 
  }

.skills {
  color: white;
  font-size: 12px; 
  padding-bottom: 10px; 
  padding-top: 10px; 
  text-align: right; 
}

.html {
  background-color: #e34c26;
  width: 35%; 
}

.css {
  background-color: #264de4;
  width: 26%; 
}

.javaScript {
  background-color: #f0de4f;
  width: 8%; 
} 

.photoshop {
  background-color: #15355f;
  width: 20%; 
} 
