:root {
    --black: #333333;
    --gray: #5d5d5d;
    --dark-gray: #424242;
    --light-gray: #e2e2e2;
    --magenta: rgb(201, 45, 136);
}

html, body {
    min-height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(217,217,217,0) 50%, rgba(51,51,51,0.038252801120448154) 100%);
}

.wrapper {
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-height: 90vh;
    margin: 0 auto;
    width: 90%;
}

.page-content-wrapper {
    margin: 1.5rem auto;
    width: 70%;
}