:root {
    --black: #131313;
    --dark-gray: #707277;
    --gray: #989ba3;
    --light-gray: #c4c8d2;
    --magenta: rgb(201, 45, 136);
}

html, body {
    background: #131313;
    min-height: 100%;
}

.wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    min-height: 90vh;
    width: 90%;
}

.page-content-wrapper {
    margin: 1.5rem auto;
    width: 70%;
}

::-webkit-scrollbar {
    display: none}
